.pagination ul {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}
.pagination li.active {
    display: inline-block;
    border: 1px solid black;
    font-weight: bold;
}
